<nav class="navbar sticky-top navbar-expand-lg navbar-light mb-4">
    <div class="container-fluid text-dark">
        <a class="navbar-brand" href="#"><i class="fab fa-twitter"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav m-auto">
                <a class="nav-link ps-5" href="/">Home</a>
                <a class="nav-link ps-5" href="/tweets">Tweets</a>
                <!-- Button trigger twitter modal -->
                <a class="nav-link ps-5" type="button" data-bs-toggle="modal" data-bs-target="#tweetModal">Twittear</a>
                <% if(!currentUser) { %>
                    <a class="nav-link ps-5" href="/register">Register</a>
                    <a class="nav-link ps-5" href="/login">Login</a>
                <% } else { %>
                    <a class="nav-link ps-5" href="">Perfil</a>                 
                    <a class="nav-link ps-5" href="/logout">Logout</a>
                <% } %> 
            </div>
        </div>
    </div>
</nav>

<!-- Twitter Modal -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/tweets" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="description">Share what's in your mind</label>
                        <textarea class="form-control" name="tweet[description]" id="description" cols="30" rows="4"
                            placeholder="What's happening?" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Where are you?</label>
                        <input class="form-control" type="text" name="tweet[location]" id="location"
                            placeholder="location" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Add an image to your tweet</label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-sm btn-outline-primary ms-auto rounded-pill">tweet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>