<nav class="navbar sticky-top navbar-expand-lg navbar-light mb-4">
    <div class="container-fluid text-dark">
        <a class="navbar-brand" href="#"><i class="fab fa-twitter"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav m-auto">
                <a class="nav-link pl-5" href="/">Home</a>
                <a class="nav-link pl-5" href="/tweets">Tweets</a>
                <a class="nav-link pl-5" href="">Notificationes</a>
                <a class="nav-link pl-5" href="">Perfil</a>
                <a class="nav-link pl-5" href="/tweets/new">Twittear</a>
            </div>
        </div>
    </div>
</nav>