/* Styles of landing Page */
.first-home .second-home {
    height: 50%;
}

#img-home {
    width: 100%;
    height: 100%;
}

@media(min-width: 992px) {
    #img-home {
        width: 100%;
        height: 100vh;
    }
    .second-home {
        height: 100vh;
        display: flex;
    }
}

/* Styles Page */
.items {
    padding: .5rem 1rem;
    display: block;
    color: #0d6efd ;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.items:hover {
    top: -5px;
}

#img-profile {
    width: 40%;
    height: 100%;
}

.img-user {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

@media(min-width: 892px) {
    .img-user {
        border-radius: 50%;
        max-width: 80px;
        height: 80px;
    }
}

.img-carousel {
    border-radius: 5%;
}

.retweetedBy {
    color: rgb(91, 112, 131);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 15px;
}

.btn-share-reply, .btn-retweet, .btn-like {
    border: 0;
    border-width: 0;
    color: #6c757d;
    border-radius: 50%;
    font-size: 18px;
}

.btn-share-reply:hover, .btn-share-reply:focus, .btn-like:hover, .btn-like:focus, .btn-retweet:hover, .btn-retweet:focus {
    border-color: transparent;
    box-shadow: none;
}

.btn-share-reply:hover, .btn-share-reply:focus {
    background-color: rgba(0, 180, 216, 0.1);
    color: #00b4d8 ;
}

.btn-like:hover {
    background-color: rgba(230, 57, 70, 0.1);
    color: #e63946;
}

.liked {
    color: #e63946;
}

.btn-retweet:hover {
    background-color: rgba(73, 160, 120, 0.1);
    color: #49a078;
}

.retweeted {
    color: #49a078;
}