.navbar {
    background-color: #f0efeb;
}

.bgHome {
    background: rgb(168,218,220);
    background: linear-gradient(90deg, rgba(168,218,220,0.6409090909090909) 0%, rgba(223,243,242,0.9227272727272727) 0%, rgba(224,243,242,1) 0%, rgba(192,245,243,1) 0%, rgba(192,245,243,1) 0%, rgba(192,245,243,1) 27%, rgba(192,245,243,1) 51%, rgba(192,245,243,1) 68%, rgba(192,245,243,1) 96%);
}