<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <div class="card shadow rounded">
                <div class="card-body">
                    <h1 class="text-center mb-4">Reset Password</h1>
                    <form action="/reset/<%= token %>" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="password">New Password</label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="New password" autofocus required>
                            <div class="valid-feedback">Looks Good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="confirm">Confirm Password</label>
                            <input class="form-control" type="password" name="confirm" id="confirm" placeholder="Confirm Password" required>
                            <div class="valid-feedback">Looks Good!</div>
                        </div>
                        <button class="btn w-100 btn-primary" type="submit">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>